.belson{
    align-items: baseline;
    width: 230px;
    height: 400px; 
    margin-top: 30px;
    border-radius: 2em;
    align-items: center;
    margin-left: 540px;
}
option{
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
}
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #003cff;
    color: ghostwhite;
    position: relative;
    top: 90px;
    left: -180px;
}
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: black;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   h3{
    text-align: center;
   }